##############################
## Java
##############################
*.class
*.jar

##############################
## Maven
##############################
target/

##############################
## Eclipse
##############################
.settings/
.metadata
.classpath
.project
